@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputNameField {
    display: none;
}

.task-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.task-wrapper span:first-child {
    margin-right: 10px;
    cursor: pointer;
}

.material-symbols-outlined {
    cursor: pointer;
}

ul {
    background-color: green;
}

#completedTasksHeader {
    display: none;
}