@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", serif;
}

.tasksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sideMenu {
    margin-top: 20%;
    margin-left: 10%;
    gap: 20px;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    background-color: coral;
    border-radius: 10px;
    padding: 5px;
}

button {
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 80%;
}

.inputTaskField {
    display: flex;
    flex-direction: row;
}

.inputNameField {
    display: none;
}

.task-wrapper {
    margin: 5px 0;
}

.task-wrapper span:first-child {
    margin-right: 10px;
    cursor: pointer;
}

.material-symbols-outlined, .taskCompleted{
    cursor: pointer;
}

ul {
    display: none;
    background-color: rgb(116, 243, 116);
    color: black;
    border-radius: 10px;
    min-height: 200px;
    min-width: 400px;
    padding: 20px;
}

ol {
    display: none;
    background-color: rgb(109, 201, 208);
    border-radius: 10px;
    min-height: 200px;
    min-width: 400px;
    padding: 20px;
}

li {
    min-width: 300px;
   background-color: white; 
   border-radius: 3px;
   padding: 5px;
}

ul li {
    text-decoration: line-through;
}

#completedTasksHeader {
    display: none;
}

.selectedTask {
    animation: enlarge 2s ease-in-out forwards; /* 2s duration, ease-in-out timing */
}

@keyframes enlarge {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.2); /* 20% bigger */
    }
}